#head {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}

table, th, td {
	border: 1px solid black;
}

#tabular {
	height: 60%;
}

#tab {
	height: 100%;
	width: 60%;
}

